html,
body {
  /* font-family: "Roboto"; */
  /* font-family: "Baloo Bhai 2", cursive; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0%;
  box-sizing: border-box;
  /* background-image: url("./img/background7.jpg"); */
  /* background-size: 100% 100%; */
  /* background-repeat: repeat-y; */
  /* background-repeat: repeat-x; */
}

.my_navbar a:active {
  color: blueviolet;
}

.decrease_font {
  font-size: 0.7em;
}

/* .increase_font {
  font-size: 1em;
} */

#about_me {
  background-color: #000000;
  /* background-image: url("./img/coding.jpg"); */
  border: 2px solid black;
  border-radius: 10px;
}
#about_me:hover {
  background-image: none;
  background-color: #000000;
  cursor: pointer;
  /* padding: 0.1em; */
}

#aws:hover,
#other:hover,
#frontend:hover,
#backend:hover,
#database:hover,
#courses_completed:hover {
  /* padding: 0.6em !important; */
  background-color: #000000;
  cursor: pointer;
}

.thick-font {
  font-weight: bold;
}

.black-font {
  color: black;
}

.white-font {
  color: white;
}